
.header {
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 60px;
  padding: 0.4em;
  position: sticky;
  top: 0;
  left: 0;
  transition: opacity .2s ease-in-out;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, .05) 0 3px 15px;
  z-index: 1000;
}

.header__container {
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding: 0 .5em;
  color: black;
  transition: opacity .2s ease-in-out;
}

.header__button {
  display: inline-block;
  outline: none;
  text-decoration: none;
  opacity: .7;
  padding: 0 .5em;
  color: black;
  transition: opacity .2s ease-in-out;
}


.main__button{
  width: 4.5em;
  height: 2.3em;
  margin: 0.5em;
  background: #d78802;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.main__button:hover {
  color: white;
}

.main__button:after{
  content: "";
  background: black;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.main__button:hover::after{
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
