
<div class="auth">
  <form [formGroup]="form" (submit)="onSubmit($event)" class="auth__form">
    <title class="form__title">Registro de compañia</title>
      <app-input type="text" placeholder="Nombre" formControlName="name"><span class="container__span"></span></app-input>
      <app-input type="email" placeholder="Correo" formControlName="email"><span class="container__span"></span></app-input>
      <app-input type="password" placeholder="Contraseña" formControlName="password"><span class="container__span"></span></app-input>
      <app-input type="text" placeholder="Dirección" formControlName="address"><span class="container__span"></span></app-input>
      <section class="form_contact">
        <div formArrayName="contact" class="form_contact">
          <h2 class="form_title_two">Información de contacto</h2>
          <div *ngFor="let contact of form.get('contact')['controls']; let i = index">
            <div [formGroupName]="i">
              <app-input type="text" placeholder="Typo de contacto" formControlName="contactType"><span class="container__span"></span></app-input>
              <app-input type="text" placeholder="Contacto" formControlName="contact"><span class="container__span"></span></app-input>
            </div>
          </div>
        </div>
      </section>
      @if(form.valid){
        <button type="submit" class="container__button">Registrar</button>
      }@else{
        <button type="submit" class="container__button container_button--disabled" [disabled]="!form.valid">Registrar</button>
      }
  </form>
  <div class="form-container">
    <p class="form__paragraph"><a routerLink="/auth/login">¿Ya tienes una cuenta?</a></p>
    <p class="form__paragraph"><a routerLink="/auth/register">¿Registrar granjero?</a></p>
  </div>
</div>
