

<main class="main">
  @if (companies == null) {
    <h1>No tenemos ninguna compañia disponible en este momento, por favor intentelo mas adelante.</h1>
  }
  @if(companies != null) {
    <h1 class="main__h1">Nuestras compañias asociadas!</h1>
    <ul class="main__ul">
      @for (company of companies; track $index) {
        <div class="main__container">
          <img src="{{company.photo.url}}" alt="{{company.photo.alt}}" class="main__img">
          <div class="main__container--section">
            <label class="main__label">Nombre</label>
            <h3 class="main__h3">{{company.name}}</h3>
          </div>
          <div class="main__container--section">
            <label class="main__label">Correo electronico</label>
            <p class="main__p">{{company.email}}</p>
          </div>
          <div class="main__label--section">
            <label class="main__label">Dirección</label>
            <p class="main__p">{{company.address}}</p>
          </div>
        </div>
      }
    </ul>
  }@else {
   <h1>Cargando las compañias...</h1>
  }
</main>
