.main{
  background-image: url('/assets/list-farmer-companies.jpeg');
  height: calc(100vh - 170px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
